@charset "ISO-8859-1";

#rodape {
    position: fixed;
    bottom: 0;
    background: #dfdfdf;
    font-size: 12px;
    padding: 10px;
    overflow: hidden;
    z-index: 30000;
}

.menu {
	background: #dfdfdf !important;
}

.editar, .visualizar, .excluir {
	cursor: pointer !important;
	width: auto;
	margin: 0 10px 0 10px;
	color: #0d6efd;
}

.acoes {
	width: 120px;
	margin: 0 auto;
	overflow:hidden;
	text-align: center;
}
.label-view {
	font-weight: 500;
	font-size: 14px;
}

.label-view + div {
	border-bottom: 1px solid #c8c9ca;
	font-weight: normal;
}